beautifulsoup4==4.9.3
flask-restful==0.3.9
gunicorn==20.1.0
imutils==0.5.4
olefile==0.46
pdf2image==1.16.0
pip-chill==1.0.1
pytesseract==0.3.7
python-doctr==0.3.0
scikit-optimize==0.8.1
sip==6.1.1
stop-words==2018.7.23
streamlit==0.83.0
tensorflow==2.5.0
tensorflow-addons==0.13.0
wincertstore==0.2
